<div class="cs-dashboard_ui_wrapper my-4 pb-6">
    <div class="cs-dashboard_card_wrapper my-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quos ab ipsam totam sed illo sapiente enim
        maxime iusto dolorem vero quis natus mollitia dignissimos, atque nesciunt tempora cupiditate tempore
        exercitationem culpa! Labore numquam, sint optio ipsam doloribus officiis! At fugiat mollitia sapiente atque
        earum commodi ipsa. Voluptatibus cupiditate neque molestias iste officia, laudantium officiis quos blanditiis
        deserunt ad praesentium illum earum itaque corporis sint, nisi laboriosam obcaecati consequuntur alias vitae,
        consequatur doloribus rerum ducimus eveniet. Natus, fugit dignissimos aspernatur recusandae atque reprehenderit
        quod, illo aut consequuntur porro modi, doloribus quam alias corrupti vel quas perspiciatis expedita quisquam
        deserunt amet.

    </div>
    <div class="cs-dashboard_content_wrapper d-flex flex-column justify-content-between gap-1 my-4">
        <div class="d-flex justify-content-between gap-1 position-relative px-2">
            <div class="col-9 cs-dashboard_left_wrapper cs-hidden-scroll" style="height: 100%; overflow-y: auto;">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa doloremque accusamus sunt rerum
                distinctio sequi! Sapiente, cupiditate magnam itaque dolorum laboriosam doloremque fuga! Assumenda et
                voluptatum facilis nihil voluptates culpa esse sint labore sed ex vitae totam expedita quam aliquam
                dolores molestiae quas optio, architecto id hic. Labore, doloribus fuga at, neque incidunt mollitia
                voluptates assumenda corrupti nihil laudantium reiciendis sint rem minima ipsam quod eaque odit,
                temporibus esse recusandae culpa fugit perspiciatis omnis consequatur. Sed ut repellendus harum
                doloremque praesentium quibusdam molestias aliquid officia autem, veritatis exercitationem earum
                explicabo iusto consequuntur nesciunt nobis temporibus est quo corrupti odio. Id, a? Tenetur ratione
                quisquam odit accusantium id. Quibusdam quidem aliquid obcaecati autem nobis quos alias deleniti qui
                consequatur nihil? Ad cum modi obcaecati soluta consectetur dicta quae dolorem facere nisi fuga! Quidem
                asperiores sunt aspernatur soluta sint dolor reiciendis similique atque? Ipsa porro aperiam eos
                dignissimos voluptas iure neque illo dolore. Debitis minus nihil doloribus ad? Error inventore cumque
                sequi dicta ducimus natus voluptas sint ab suscipit, ipsam in labore quis omnis, autem temporibus sed
                esse ut minima ullam! Repellat minima natus maiores tempore provident sit? Voluptas excepturi in
                necessitatibus itaque numquam accusamus culpa voluptates alias, saepe, quibusdam magni fugit ut commodi
                quam corrupti perferendis minima ratione. Magni architecto mollitia esse aspernatur minima, eum
                repellendus optio? Eveniet error cumque, fugiat aut omnis ipsa, suscipit voluptatum modi neque molestias
                aspernatur. Veritatis perferendis commodi ipsum ad explicabo recusandae nulla molestias magni, ut
                blanditiis quaerat in? Dolor maiores labore eius magni deleniti velit. Nisi, amet iusto! Rem quae,
                mollitia quaerat laborum eius eos, praesentium exercitationem possimus natus accusantium, fuga
                perferendis et fugit ipsa. Minima veniam autem id modi saepe quod nisi ea iure vitae, minus incidunt
                provident numquam enim odio repudiandae architecto, inventore nemo itaque, culpa voluptate tempora ad
                quidem eligendi? Mollitia, explicabo neque modi quas doloremque omnis voluptate fugit eos iste ullam
                delectus quos deleniti, perferendis odio architecto qui quibusdam fugiat illum amet animi itaque! Ipsa
                adipisci nostrum velit omnis mollitia quis provident veritatis incidunt possimus, dignissimos excepturi
                ex libero totam amet, doloribus expedita reprehenderit autem nihil vitae quam! Repellat distinctio atque
                odio placeat! Facere quos officia, tenetur, excepturi et eveniet aspernatur explicabo quasi similique
                natus magni impedit voluptatem nisi blanditiis dolor, adipisci exercitationem eius corrupti accusamus.
                Voluptatem magnam officia optio possimus dolor numquam esse quia labore harum, ratione recusandae
                accusantium modi libero at ipsum. Ratione nisi, pariatur accusamus similique unde reiciendis adipisci
                illum? Perspiciatis cum quaerat voluptatum eligendi, deleniti ut sapiente eveniet aspernatur sunt
                distinctio rerum quam, earum eius repellat corporis unde nesciunt at dolorem quod omnis beatae nisi
                architecto. Asperiores alias ducimus, molestias, doloremque magnam ipsa quisquam eius iusto quam
                sapiente, distinctio similique quaerat provident veniam blanditiis sint tempora. Quas labore corrupti
                nihil tempora rem error! Fugit nam veritatis natus, possimus, labore eligendi saepe tempore cumque dolor
                magni explicabo maxime vel cupiditate rem repudiandae rerum voluptas sequi enim quam! Iusto repellendus
                perferendis magnam illo optio fugit, quod vel necessitatibus rem sapiente animi commodi a rerum!
                Voluptatum facere voluptate neque laudantium laborum eius, quis earum alias. Explicabo eos voluptatum
                odit nesciunt similique. Quidem laborum quibusdam totam doloribus, neque, atque cum repellat quam
                nostrum debitis at? Inventore necessitatibus, tempore soluta consequuntur ea, delectus quibusdam, sint
                quis reprehenderit in natus. Tempore, excepturi, animi provident minus consequuntur officiis cumque eius
                praesentium, ad soluta adipisci minima facere eaque nisi! Neque odit corrupti ipsum consequuntur iste
                beatae fugiat fugit. Voluptatem voluptas maxime dolore inventore, ullam delectus possimus, perferendis
                recusandae dicta explicabo nam ut voluptate! Labore, voluptatibus natus iure ut mollitia, dolore
                deserunt vitae explicabo animi nostrum, cum perspiciatis! Consequuntur officia maiores facilis dolorum
                vitae assumenda perspiciatis laborum laboriosam ratione obcaecati veniam incidunt culpa soluta ab dolor
                eligendi animi cupiditate, autem quos quia libero tempora, unde earum! Saepe cum qui voluptatum
                cupiditate porro aperiam facilis. Esse repellendus illo nostrum sint corporis ut. Vero quisquam
                reiciendis ipsum aspernatur. Molestiae saepe quibusdam repellendus iure asperiores consectetur nesciunt
                beatae, consequuntur aliquid. Reprehenderit dicta placeat, culpa dolore praesentium quis hic aut, at
                voluptas rem labore, commodi fuga molestias vitae repellendus fugit cumque asperiores minima. Fuga nihil
                porro illo minima quos. Molestiae, possimus voluptatibus distinctio earum iusto ullam est vitae ipsum
                beatae reiciendis! Sint, recusandae iste veritatis nihil nesciunt reiciendis saepe ipsam eum
                voluptatibus, fugit aut labore facere eos dolorem, fuga odio totam similique illo aperiam. Et cupiditate
                exercitationem accusamus! Natus dolorem itaque veritatis quaerat in at odio cupiditate ab quisquam
                eaque. Molestias esse omnis possimus autem, doloribus aliquam, error tempora architecto ea maxime eius
                sunt quidem quibusdam aut voluptatibus nihil quos fugiat beatae et minima vel dolor accusamus facere
                exercitationem. Laudantium deleniti quam accusamus pariatur distinctio ea in vero sunt, blanditiis odio
                quisquam ullam nemo voluptas perferendis temporibus ab optio natus excepturi, placeat velit assumenda
                tempore odit inventore quo! Expedita obcaecati, laudantium quis doloremque a, deserunt, necessitatibus
                culpa atque accusantium quo totam blanditiis provident. Iste ratione magni explicabo similique amet
                sequi optio qui accusamus, dignissimos delectus libero commodi beatae nihil, provident laboriosam a
                exercitationem temporibus cupiditate! Amet delectus ullam ratione dolorum quis nemo recusandae soluta
                voluptas id veniam enim itaque voluptatibus, odit placeat illo sint rem. Quidem aperiam deleniti rem
                atque illo quam magnam sit assumenda molestias architecto veniam voluptates labore reprehenderit optio
                repellat commodi eligendi nesciunt consectetur, voluptas tempore. Ab numquam nisi enim, doloremque
                tenetur suscipit explicabo autem alias quas facilis. Nesciunt ex sapiente labore. Nisi et expedita illo
                blanditiis enim! Vero dolorem cupiditate officiis rem hic impedit magni laudantium repellat consequatur
                perferendis, minus autem exercitationem rerum omnis doloremque! Officiis, culpa. Commodi repudiandae
                perferendis consequuntur vitae facere dolor sit suscipit cumque, quae provident corrupti sapiente ipsum,
                quod deleniti, animi asperiores aperiam. Possimus quis doloremque voluptatum rem? A repellendus nostrum,
                quod obcaecati cum illo officia tempore incidunt eveniet dolore! Eum tenetur veritatis beatae quod
                expedita accusantium iusto fuga sit vero nemo nihil sunt quam, optio a amet ratione ducimus odio itaque
                possimus quis asperiores voluptatum fugit perferendis? Explicabo quaerat provident commodi officiis
                recusandae. Quisquam et culpa atque, quas, odit, odio facere ipsum quos iusto labore temporibus?
                Voluptatem consequatur placeat sit sunt.

            </div>
            <div class='col-3 d-flex flex-column'>
                <div class="cs-dashboard_right_wrapper sticky-top mb-5" style="height:350px;">
                    <p class="p-2 m-0 fw-bold border cs-recent_search">Recent search</p>
                    <div class="d-flex flex-column gap-1 cs-hidden-scroll my-1" style="height:285px; overflow-y:auto;">
                        <div class="p-2 cs-recent_search">1</div>
                        <div class="p-2 cs-recent_search">2</div>
                        <div class="p-2 cs-recent_search">3</div>
                        <div class="p-2 cs-recent_search">4</div>
                        <div class="p-2 cs-recent_search">5</div>
                        <div class="p-2 cs-recent_search">6</div>
                        <div class="p-2 cs-recent_search">7</div>
                        <div class="p-2 cs-recent_search">8</div>
                        <div class="p-2 cs-recent_search">9</div>
                        <div class="p-2 cs-recent_search">10</div>
                    </div>
                </div>

                <div class="cs-dashboard_right_wrapper sticky-top" style="height:350px;">
                    <p class="p-2 m-0 fw-bold border cs-recent_search">Recent Activity</p>
                    <div class="d-flex flex-column gap-1 cs-hidden-scroll my-1" style="height:285px; overflow-y:auto;">
                        <div class="p-2 cs-recent_search">1</div>
                        <div class="p-2 cs-recent_search">2</div>
                        <div class="p-2 cs-recent_search">3</div>
                        <div class="p-2 cs-recent_search">4</div>
                        <div class="p-2 cs-recent_search">5</div>
                        <div class="p-2 cs-recent_search">6</div>
                        <div class="p-2 cs-recent_search">7</div>
                        <div class="p-2 cs-recent_search">8</div>
                        <div class="p-2 cs-recent_search">9</div>
                        <div class="p-2 cs-recent_search">10</div>
                    </div>
                </div>
            </div>

        </div>


        <div class="pb-6 p-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium temporibus asperiores sunt, alias
            aliquid nisi voluptatum expedita consequatur dolore commodi, est, perferendis maxime sed voluptate similique
            et beatae. Architecto porro et cumque consequuntur temporibus, deleniti aspernatur reiciendis magnam neque
            vitae. Ratione aperiam sit harum quod accusantium ad cum. Ducimus accusamus molestiae vitae. Sequi, dolorem.
            Illo minima architecto vel! Quisquam perferendis, earum saepe eius illo dicta architecto dolores eligendi
            tempore voluptate similique inventore mollitia harum ea ullam, sint, voluptatibus natus optio ipsa ratione.
            Id molestias voluptas ea ipsum voluptatem, veritatis suscipit labore excepturi illo consequatur laudantium
            corrupti dolores possimus ipsa quidem esse magni optio velit delectus voluptatum cumque. Asperiores
            accusantium quaerat praesentium non accusamus. Ab necessitatibus rerum ut sed unde. Harum illo debitis,
            doloremque quasi facere quod! Dicta repellat commodi in optio earum maiores reprehenderit illo laboriosam
            explicabo tempora. Omnis repellendus quod aperiam aliquam reprehenderit maxime odio. Veritatis corrupti
            commodi maiores unde tempore nihil est minima laborum et repellendus explicabo corporis, hic deleniti
            inventore exercitationem porro amet? Quidem sit blanditiis dignissimos adipisci. Aliquam autem vel
            exercitationem nostrum magni fugiat modi illo at quae consequatur earum molestias error nobis hic, minus
            enim iure ipsam maxime necessitatibus facilis culpa quidem commodi nulla. Natus quam est iure accusamus quod
            corporis velit quibusdam corrupti, molestiae libero, nostrum facilis repudiandae dolorem architecto ducimus
            ullam maiores dolor assumenda. Nihil odio illum reprehenderit quas aperiam, ex autem commodi ullam magni
            distinctio odit. Minus repudiandae cupiditate maiores quo consequuntur iusto vitae fugit! Recusandae
            provident eos ipsum consectetur ad assumenda laboriosam veniam suscipit, harum fugiat perspiciatis
            distinctio! Illo voluptatibus earum, architecto tenetur placeat praesentium officiis aspernatur, fugiat
            voluptatem quis molestiae natus, asperiores explicabo alias illum ipsum esse quaerat hic! A nostrum quas
            dolor, doloribus animi ea dolorem amet deserunt maxime minus iste quasi neque aut recusandae? Possimus velit
            optio eos animi voluptatem atque. Blanditiis corporis quia similique, repellat soluta nostrum ipsum dicta
            quis totam accusamus beatae sapiente, quas, quam alias id eaque? Nesciunt illo suscipit cum quae quas nam
            aspernatur, doloribus reprehenderit ducimus, nemo voluptatum quidem quibusdam odio, velit eligendi adipisci
            eos omnis repellendus accusantium quasi quod sequi minus cumque. Cum omnis dolore porro, facilis totam
            aspernatur beatae voluptatum ullam placeat praesentium aut quia eius saepe reprehenderit voluptatem
            assumenda doloribus. Nulla cupiditate quod, mollitia nostrum quidem unde vel expedita harum excepturi fuga
            quia facere fugit veritatis consequatur dolorem sunt nisi autem esse ullam similique corrupti distinctio.
            Amet magnam porro exercitationem vero neque vel voluptatem quisquam tempore, culpa nisi quis. Commodi
            dolores non excepturi iusto earum voluptatum facilis officia quas est veniam, quis nostrum distinctio iste
            nam nobis quia modi quidem! Sequi tenetur praesentium natus in laudantium saepe consequuntur optio beatae
            ratione ad dolorem suscipit omnis sit, facilis repellendus, dolorum, voluptatibus necessitatibus nobis ab
            aperiam iure maxime eveniet temporibus. Ab, doloremque delectus nam molestias nostrum odio perferendis nihil
            fuga libero. Odit beatae tenetur dolores rerum quasi porro ipsum deleniti iure aut laboriosam provident,
            quam excepturi amet repudiandae, asperiores architecto odio fuga! In molestias repellendus ipsa, quos
            accusamus nobis eos error provident id cum ipsam dicta, assumenda voluptatibus suscipit a voluptates quas
            aperiam laudantium quae alias fuga laborum. Hic assumenda, culpa alias qui quaerat at voluptas officia
            fugiat modi similique est quod blanditiis tempora saepe odit officiis impedit beatae nesciunt aspernatur
            eaque? Earum iure eligendi tempore, voluptatibus quidem optio cupiditate modi, commodi vero esse itaque
            quasi debitis. Cum, voluptatibus assumenda rem autem modi perferendis totam soluta, itaque cumque fugiat
            tempora saepe distinctio dolore ipsum dolor! Porro sed, ex nemo vel accusantium expedita, nam beatae fuga
            magnam doloremque perspiciatis commodi, voluptas eligendi molestiae ut incidunt! Error, porro soluta illo,
            veritatis quibusdam libero dolorem placeat fuga, adipisci iusto velit vitae. Voluptatem quos obcaecati,
            exercitationem aspernatur, nesciunt ea doloribus reiciendis, doloremque nihil animi amet nulla dolor
            provident? Unde accusamus numquam laudantium reprehenderit dolore doloribus, exercitationem, necessitatibus
            in perferendis quis consequuntur dolorum at minus fuga provident ea laboriosam temporibus id earum porro
            similique tempora quam ad voluptates! Mollitia at qui, minus recusandae laborum sint incidunt officia
            obcaecati pariatur nemo debitis eos aperiam ratione? Ea commodi saepe, voluptatum enim veritatis dicta
            molestias magni aliquid eligendi eveniet ipsa ad eos reprehenderit, possimus soluta, harum natus!
            Dignissimos amet laboriosam corrupti ducimus. Inventore illum impedit, officia earum eius maxime culpa
            cupiditate, pariatur possimus nemo voluptas minima amet! Distinctio neque id impedit doloribus quaerat, enim
            recusandae! Iste officia neque, harum incidunt, aliquid facilis quod quae necessitatibus veritatis aut
            praesentium. Nobis maiores optio blanditiis distinctio. Optio mollitia beatae voluptas. Error, nesciunt
            sequi quos, esse laboriosam, asperiores repudiandae eius officia a voluptas consectetur corporis possimus
            odio. Perspiciatis laborum veritatis, tenetur deserunt eum cumque temporibus ducimus. Incidunt nobis laborum
            ex iusto optio fuga saepe, repudiandae aliquid neque ipsa soluta quae in! Dolores soluta ducimus dolorem
            itaque quo in pariatur minus, veritatis nemo corporis facilis quos maiores temporibus? Laborum labore
            cupiditate eaque. Quidem excepturi eum, omnis magni consequuntur esse eius sit fuga voluptate laborum
            exercitationem nemo quaerat dolores iusto eos. Ratione dolorem dolorum repellendus ullam? Deserunt
            blanditiis dolorum accusantium inventore eum quidem harum porro explicabo aut, dolor quibusdam quis nemo
            commodi? Accusamus ipsum et dolore beatae eaque blanditiis facilis omnis, possimus aut voluptatem. Iste,
            iure. Rerum, aperiam minus? Iure pariatur magnam non assumenda. Molestiae, maiores a. Nemo deserunt qui,
            quae optio officiis beatae nesciunt obcaecati magni tempore ipsam sint. Optio commodi nesciunt fugit
            laboriosam neque. Quidem possimus eveniet ipsum? Quisquam magnam eius rerum nisi nemo enim eligendi modi
            corrupti molestiae exercitationem suscipit quas a, sapiente sequi accusamus cumque, eum ea molestias alias!
            Ut quos unde modi similique atque aliquid exercitationem nam quis beatae delectus quaerat velit eligendi
            repudiandae aspernatur temporibus, ab alias quo fugit perferendis nemo. Ad nostrum ducimus itaque autem
            nesciunt enim quidem sunt vero laboriosam blanditiis saepe tenetur, distinctio magnam, laudantium
            consequuntur placeat, quae veritatis dolore eum magni rerum. Dignissimos quibusdam laborum deserunt? Quidem
            consequatur dolor magni unde? Velit, praesentium delectus molestias exercitationem dolor vel fugit dolorum
            assumenda magnam a quia atque, ex voluptatibus qui voluptates eum odit unde, fuga impedit voluptatum facere.
            Provident deserunt repellat non a doloremque omnis ipsam perspiciatis assumenda!
        </div>
    </div>


</div>