.cs-dashboard_right_wrapper{
    top:80px;
    z-index: 1;
    background-color: rgba(213, 211, 211, 0.141);
    padding: 10px;
    border-radius: 5px;
    .cs-recent_search{
        border-radius: 5px;
        background-color: #ffffff;
    }
}
.cs-dashboard_content_wrapper{
    box-sizing: border-box;

}