.modal {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: flex;
  overflow: hidden;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-heading-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  // border-radius: 15px;
}

.modal-inner-content {
  padding: 10px 20px;
  height: 65vh;
  overflow: auto;
}

.modal-button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}
.cs-rate_types {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  .form-check-label {
    margin-left: 8px;
  }
}

// .cms_button {
//   border: none;
//   padding: 5px 8px;
//   background-color: rgba(0, 38, 128, 0.619);
//   color: #ffffff;
//   border-radius: 5px;
//   font-weight: 500;

//   &:hover {
//     background-color: rgb(14, 47, 124);
//   }
// }

// .cms_button.disabled {
//   cursor: not-allowed;
//   background-color: rgb(135, 152, 237);

//   &:hover {
//     background-color: rgb(135, 152, 237);
//   }

// }


.cms_button {
  border: none;
  border-radius: 5px;
  background-color: #22338f;
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  padding: .375rem .75rem;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    background-color: #22338f;
    color: #ffffff;
    font-weight: 500;
  }

}

.cms_button.disabled {
  cursor: not-allowed;
  background-color: #22338f;
  opacity: 0.8;

  &:hover {
    background-color: #142cb6;
    color: #ffffff;
  }
}



.form-switch {
  padding-left: 0.5em !important;
}

.form-switch .form-check-input {
  margin: 0 !important;
  width: 4em !important;
  height: 1.5em !important;

}

/* Styling for the dropdown menu */
.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}
.cs-addVia{
  position: absolute;
  right: 20px;
  top: 16px;
  border-radius: 50%;
  border: 1px solid blue;
  padding: 5px;
  background-color: blue;
  color: #ffffff;
}