<div class="modal" [class.show]="isEditVisible">
    <div class="modal-content">
        <div class="modal-heading-content shadow-sm">
            <h4>Edit Manual Rates</h4>
            <span class="close" (click)="closeModal()">&times;</span>
        </div>
        <div class="modal-inner-content">
            <form [formGroup]="isEditParamData" action="POST">
                <div class="cs-padding">
                    <div class="d-flex justify-content-between gap-2 mb-2">
                        <div
                            class="col-6 form-floating mb-3 d-flex justify-content-end align-items-end position-relative">
                            <select formControlName="companyName" name="companyName" id="floatingInput"
                                class="dropdown-menu show" (focus)="showDropdown = true" (blur)="hideDropdown()"
                                (click)="showDropdown = true" class="form-control border">
                                <option value="" selected disabled>--Select Carrier--</option>
                                <option [value]="carrier.name" *ngFor="let carrier of companyList">{{carrier.name}}
                                </option>
                            </select>
                            <label class="mx-2" for="floatingInput">Carrier</label>
                            <div class="position-absolute"
                                *ngIf="isEditParamData.get('companyName')!.invalid && 
                                             (isEditParamData.get('companyName')!.dirty || isEditParamData.get('companyName')!.touched)">
                                <small class="text-danger">Carrier is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between gap-2 mb-2">
                        <div class="col-12 col-md-6 mb-2 mb-md-4 form-floating" style="position: relative;">
                            <input [ngClass]="{'custom-invalid-border':isEditParamData.get('source')!.invalid && 
                            (isEditParamData.get('source')!.dirty || isEditParamData.get('source')!.touched)}"
                                type="text" formControlName="source" class="form-control" placeholder="Source name"
                                aria-label="Source name" (input)="onSourceInput($event)"
                                (focus)="showSourceDropdown = true" (blur)="hideSourceDropdown()"
                                (click)="showSourceDropdown = true">
                            <label [ngClass]="{'custom-invalid-text-color':isEditParamData.get('source')!.invalid && 
                            (isEditParamData.get('source')!.dirty || isEditParamData.get('source')!.touched)}"
                                for="floatingTextarea2">--Select Source--</label>

                            <div *ngIf="showSourceDropdown && filteredSources.length > 0" class="dropdown-menu show"
                                (mousedown)="$event.preventDefault()"
                                style="position: absolute; top: 100%; left: 0; width: 100%; z-index: 1000;">
                                <button type="button" class="dropdown-item" *ngFor="let source of filteredSources"
                                    (click)="selectSource(source.name)">
                                    {{ source.name }}
                                </button>
                            </div>

                            <div *ngIf="filteredSources.length === 0 && showSourceDropdown" class="dropdown-menu show">
                                <button type="button" class="dropdown-item" disabled>Not found</button>
                            </div>

                            <div
                                *ngIf="isEditParamData.get('source')!.invalid && 
                                             (isEditParamData.get('source')!.dirty || isEditParamData.get('source')!.touched)">
                                <small class="text-danger">Source is required</small>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 mb-2 mb-md-4 form-floating" style="position: relative;">
                            <input
                                [ngClass]="{'custom-invalid-border':isEditParamData.get('destination')!.invalid && 
                            (isEditParamData.get('destination')!.dirty || isEditParamData.get('destination')!.touched)}"
                                type="text" formControlName="destination" class="form-control"
                                placeholder="Destination name" aria-label="Destination name"
                                (input)="onDestinationInput($event)" (focus)="showDestinationDropdown = true"
                                (blur)="hideDestinationDropdown()" (click)="showDestinationDropdown = true">
                            <label
                                [ngClass]="{'custom-invalid-text-color':isEditParamData.get('destination')!.invalid && 
                            (isEditParamData.get('destination')!.dirty || isEditParamData.get('destination')!.touched)}"
                                for="floatingTextarea2">--Select Destination--</label>

                            <div *ngIf="showDestinationDropdown && filteredDestination.length > 0"
                                class="dropdown-menu show" (mousedown)="$event.preventDefault()"
                                style="position: absolute; top: 100%; left: 0; width: 100%; z-index: 1000;">
                                <button type="button" class="dropdown-item"
                                    *ngFor="let destination of filteredDestination"
                                    (click)="selectDestination(destination.name)">
                                    {{ destination.name }}
                                </button>
                            </div>

                            <div *ngIf="filteredDestination.length === 0 && showDestinationDropdown"
                                class="dropdown-menu show">
                                <button type="button" class="dropdown-item" disabled>Not found</button>
                            </div>
                            <div
                                *ngIf="isEditParamData.get('destination')!.invalid && 
                                                 (isEditParamData.get('destination')!.dirty || isEditParamData.get('destination')!.touched)">
                                <small class="text-danger">Destination is required</small>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between gap-2 mb-2">
                        <div class="d-flex flex-column col-12 col-md-6 mb-2">
                            <div
                                class="form-check form-switch d-flex flex-column justify-content-between col-5 gap-3 mb-4">
                                <div class="d-inline">
                                    <label class="form-check-label"
                                        for="flexSwitchCheckDefaultRate">{{isRateTypeStatus?'Spot' : 'Filed'}}
                                        Rate</label>
                                </div>
                                <input class="form-check-input" formControlName="isRateTypeStatus" type="checkbox"
                                    role="switch" id="flexSwitchCheckDefaultRate"
                                    (change)="onRateCheckboxStatusChange($event)">
                            </div>
                            <div class="d-flex align-items-center justify-content-between gap-1 col-12 mb-2">
                                <div class="col-6 form-floating">
                                    <input type="text" formControlName="vessel_name" class="form-control"
                                        placeholder="Vessel name" aria-label="vessel_name">
                                    <label for="floatingTextarea2">Vessel name</label>
                                    <div class="position-absolute"
                                        *ngIf="isEditParamData.get('vessel_name')!.invalid && (isEditParamData.get('vessel_name')!.dirty || isEditParamData.get('vessel_name')!.touched)">
                                        <small class="text-danger">Vessel name is required</small>
                                    </div>
                                </div>

                                <div class="col-5 form-floating">
                                    <input type="text" formControlName="voyage" class="form-control"
                                        placeholder="Voyage" aria-label="voyage">
                                    <label for="floatingTextarea2">Voyage</label>
                                    <div class="position-absolute"
                                        *ngIf="isEditParamData.get('voyage')!.invalid && (isEditParamData.get('voyage')!.dirty || isEditParamData.get('voyage')!.touched)">
                                        <small class="text-danger"
                                            *ngIf="isEditParamData.get('voyage')?.errors?.['pattern']">Voyage
                                            is invalid</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column col-12 col-md-6 mb-2">
                            <!-- <div class="form-check form-switch d-flex flex-column col-4"> -->
                            <div
                                class="form-check form-switch d-flex flex-column justify-content-between col-5 gap-3 mb-4">
                                <div class="d-inline">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Direct
                                        Shipment?</label>
                                </div>
                                <input class="form-check-input" type="checkbox" formControlName="isDirectShipment"
                                    [checked]="isDirectShipment" role="switch" id="flexSwitchCheckDefault"
                                    (change)="onDirectShipmentChange($event)">
                            </div>

                            <div class="col-12 form-floating" style="position: relative;">
                                <!-- Input field for currency selection -->
                                <input
                                    [ngClass]="{'custom-invalid-border':isEditParamData.get('transhipment_add_port')!.invalid && 
                                (isEditParamData.get('transhipment_add_port')!.dirty || isEditParamData.get('transhipment_add_port')!.touched)}"
                                    type="text" class="form-control" placeholder="Via"
                                    formControlName="transhipment_add_port" [value]="viaInputValue"
                                    (input)="onViaInput($event)" (focus)="showViaDropdown = true"
                                    (blur)="hideViaDropdown()" />

                                <i *ngIf="filteredVia.length === 0 && showViaDropdown && viaInputValue.length >= 1"
                                    class="fa fa-plus cs-addVia" (click)="addNewVia(viaInputValue)" height="22px"
                                    width="22px" aria-hidden="true"></i>

                                <label
                                    [ngClass]="{'custom-invalid-text-color':isEditParamData.get('transhipment_add_port')!.invalid && 
                                (isEditParamData.get('transhipment_add_port')!.dirty || isEditParamData.get('transhipment_add_port')!.touched)}"
                                    for="floatingTextarea2">--Select Via--</label>

                                <!-- Display selected items with remove option -->
                                <div *ngIf="selectedVia.length > 0" class="selected-via-list mt-2">
                                    <span *ngFor="let via of selectedVia" class="badge bg-primary me-1">
                                        {{ via }}
                                        <button type="button" class="btn-close btn-close-white ms-1" aria-label="Close"
                                            (click)="removeVia(via)"></button>
                                    </span>
                                </div>

                                <!-- Dropdown menu that appears under the input -->
                                <div *ngIf="showViaDropdown && filteredVia.length > 0" class="dropdown-menu show"
                                    style="position: absolute; top: 80%; left: 0; width: 100%; z-index: 1000;">

                                    <ul class="list-group">
                                        <li *ngFor="let viaName of filteredVia" class="list-group-item"
                                            (mousedown)="selectVia(viaName.name)">
                                            {{ viaName.name }}
                                        </li>
                                    </ul>
                                </div>

                                <!-- "Not found" message when no currencies match the input -->
                                <div *ngIf="filteredVia.length === 0 && showViaDropdown && viaInputValue.length >= 1"
                                    class="dropdown-menu show"
                                    style="position: absolute; top: 80%; left: 0; width: 100%; z-index: 1000;">
                                    <button type="button" class="dropdown-item" disabled>Not found</button>
                                </div>

                                <!-- Validation message -->
                                <div
                                    *ngIf="isEditParamData.get('transhipment_add_port')!.invalid && (isEditParamData.get('transhipment_add_port')!.dirty || isEditParamData.get('transhipment_add_port')!.touched)">
                                    <small class="text-danger">Via is required</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- new structure -->
                    <div class="d-flex justify-content-between flex-column gap-2 mb-2">
                        <div class="form-check form-switch d-flex flex-column justify-content-between col-5 gap-3 mb-4">
                            <div class="d-inline">
                                <label class="form-check-label"
                                    for="flexSwitchCheckDefaultHaz">{{hazActiveStatus?'Hazardous':'Non-Hazardous'}}</label>
                            </div>
                            <input class="form-check-input" formControlName="hazActiveStatus"
                                [checked]="hazActiveStatus" type="checkbox" role="switch" id="flexSwitchCheckDefaultHaz"
                                (change)="onHazCheckboxStatusChange($event)">
                        </div>

                        <div class="col-12 d-flex justify-content-between align-items-center gap-2 mb-4">
                            <div class="col-6 d-flex justify-content-between align-items-center gap-3">
                                <div class="col-5 form-floating position-relative">
                                    <input [ngClass]="{'custom-invalid-border':isEditParamData.get('cargotype')!.invalid && 
                              (isEditParamData.get('cargotype')!.dirty || isEditParamData.get('cargotype')!.touched)}"
                                        type="text" [disabled]="isEditParamData.get('hazActiveStatus')?.value"
                                        formControlName="cargotype" class="form-control" placeholder="Commodity"
                                        aria-label="Commodity">
                                    <label [ngClass]="{'custom-invalid-text-color':isEditParamData.get('cargotype')!.invalid && 
                              (isEditParamData.get('cargotype')!.dirty || isEditParamData.get('cargotype')!.touched)}"
                                        for="floatingTextarea2">Commodity</label>
                                    <div style="position: absolute;"
                                        *ngIf="isEditParamData.get('cargotype')!.invalid && (isEditParamData.get('cargotype')!.dirty || isEditParamData.get('cargotype')!.touched)">
                                        <small class="text-danger">Commodity is required</small>
                                    </div>
                                </div>
                                <div class="input-group d-flex justify-content-end flex-nowrap form-floating">
                                    <span class="input-group-text" id="addon-wrapping">UN</span>
                                    <!-- <input type="number" formControlName="hazValue" class="form-control" placeholder="Haz" aria-label="Haz" aria-describedby="addon-wrapping"  id="hazValueInput"> -->
                                    <div class="form-floating col-9">
                                        <input [ngClass]="{'custom-invalid-border':isEditParamData.get('hazValue')!.invalid && 
                                (isEditParamData.get('hazValue')!.dirty || isEditParamData.get('hazValue')!.touched)}"
                                            type="text" formControlName="hazValue" class="form-control"
                                            placeholder="Haz" aria-label="Haz" id="hazValueInput">
                                        <label [ngClass]="{'custom-invalid-text-color':isEditParamData.get('hazValue')!.invalid && 
                                (isEditParamData.get('hazValue')!.dirty || isEditParamData.get('hazValue')!.touched)}"
                                            for="hazValueInput" class="cs-container-label">{{hazActiveStatus?'Enter
                                            valid
                                            4-digit UN number':'Haz'}}</label>
                                        <div style="position: absolute;"
                                            *ngIf="isEditParamData.get('hazValue')!.invalid && (isEditParamData.get('hazValue')!.dirty || isEditParamData.get('hazValue')!.touched)">
                                            <small class="text-danger"
                                                *ngIf="isEditParamData.get('hazValue')?.errors?.['required']">Haz
                                                value is required.</small>
                                            <small class="text-danger"
                                                *ngIf="isEditParamData.get('hazValue')?.errors?.['pattern']">Must
                                                be a
                                                4-digit number.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-between align-items-center gap-3">
                                <div class="col-6 form-floating">
                                    <input [ngClass]="{'custom-invalid-border':isEditParamData.get('haz_class')!.invalid && 
                              (isEditParamData.get('haz_class')!.dirty || isEditParamData.get('haz_class')!.touched)}"
                                        type="number" formControlName="haz_class" class="form-control"
                                        placeholder="Haz class" aria-label="haz_class" (input)="onHazClassInput($event)"
                                        (focus)="showHazClassDropdown = true" (blur)="hideHazClassDropdown()">
                                    <label [ngClass]="{'custom-invalid-text-color':isEditParamData.get('haz_class')!.invalid && 
                              (isEditParamData.get('haz_class')!.dirty || isEditParamData.get('haz_class')!.touched)}"
                                        for="floatingTextarea2">--Select Haz Class--</label>

                                    <!-- Dropdown menu that appears under the input -->
                                    <div *ngIf="showHazClassDropdown && filteredHazClass.length > 0"
                                        class="dropdown-menu show"
                                        style="position: absolute; top: 80%; left: 0; width: 100%; z-index: 1000;">

                                        <ul class="list-group">
                                            <li *ngFor="let hazValue of filteredHazClass" class="list-group-item"
                                                (mousedown)="selectHazClass(hazValue.hazClass)">
                                                {{ hazValue.hazClass }}
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- "Not found" message when no currencies match the input -->
                                    <div *ngIf="filteredHazClass.length === 0 && showHazClassDropdown && hazClassInputValue.length >= 1"
                                        class="dropdown-menu show"
                                        style="position: absolute; top: 80%; left: 0; width: 100%; z-index: 1000;">
                                        <button type="button" class="dropdown-item" disabled>Not found</button>
                                    </div>
                                    <!-- Validation message -->
                                    <div style="position: absolute;"
                                        *ngIf="isEditParamData.get('haz_class')!.invalid && (isEditParamData.get('haz_class')!.dirty || isEditParamData.get('haz_class')!.touched)">
                                        <small class="text-danger">Haz Class is required</small>
                                    </div>
                                </div>
                                <div class="col-5 form-floating">
                                    <select
                                        [ngClass]="{'custom-invalid-border':isEditParamData.get('packing_group')!.invalid && 
                              (isEditParamData.get('packing_group')!.dirty || isEditParamData.get('packing_group')!.touched)}"
                                        formControlName="packing_group" id="floatingInput" class="form-control border">
                                        <!-- <option value="" selected disabled>--Select Packing Group--</option> -->
                                        <option [value]="pckgp.pckgp" *ngFor="let pckgp of packingGp">
                                            pckgp-{{pckgp.pckgp}}
                                        </option>
                                    </select>
                                    <label
                                        [ngClass]="{'custom-invalid-text-color':isEditParamData.get('packing_group')!.invalid && 
                              (isEditParamData.get('packing_group')!.dirty || isEditParamData.get('packing_group')!.touched)}"
                                        for="floatingTextarea2">--Select Packing Group--</label>
                                    <!-- Validation message -->
                                    <div style="position: absolute;"
                                        *ngIf="isEditParamData.get('packing_group')!.invalid && (isEditParamData.get('packing_group')!.dirty || isEditParamData.get('packing_group')!.touched)">
                                        <small class="text-danger">Packing group is required</small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="d-flex justify-content-between gap-2 mb-2">
                        <div class="col-12 col-md-6 mb-2 mb-md-4 form-floating position-relative">
                            <input
                                [ngClass]="{'custom-invalid-border':isEditParamData.get('effectiveDate')!.invalid && 
                          (isEditParamData.get('effectiveDate')!.dirty || isEditParamData.get('effectiveDate')!.touched)}"
                                type="date" min={{todayDate}} formControlName="effectiveDate" class="form-control"
                                placeholder="Valid From" aria-label="Valid From" (change)="onValidFromChange()">
                            <label
                                [ngClass]="{'custom-invalid-text-color':isEditParamData.get('effectiveDate')!.invalid && 
                          (isEditParamData.get('effectiveDate')!.dirty || isEditParamData.get('effectiveDate')!.touched)}"
                                for="floatingTextarea2">Valid From</label>
                            <div class="position-absolute"
                                *ngIf="isEditParamData.get('effectiveDate')!.invalid && (isEditParamData.get('effectiveDate')!.dirty || isEditParamData.get('effectiveDate')!.touched)">
                                <small class="text-danger">Valid From is required</small>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-2 mb-md-4 form-floating position-relative">
                            <input
                                [ngClass]="{'custom-invalid-border':isEditParamData.get('expirationDate')!.invalid && 
                          (isEditParamData.get('expirationDate')!.dirty || isEditParamData.get('expirationDate')!.touched)}"
                                type="date" [min]="minExpirationDate" formControlName="expirationDate"
                                class="form-control" placeholder="Expiration date" aria-label="Expiration date"
                                (change)="onExpirationDateChange()">
                            <label
                                [ngClass]="{'custom-invalid-text-color':isEditParamData.get('expirationDate')!.invalid && 
                          (isEditParamData.get('expirationDate')!.dirty || isEditParamData.get('expirationDate')!.touched)}"
                                for="floatingTextarea2">Expiration Date</label>
                            <div class="position-absolute"
                                *ngIf="isEditParamData.get('expirationDate')!.invalid && (isEditParamData.get('expirationDate')!.dirty || isEditParamData.get('expirationDate')!.touched)">
                                <small class="text-danger">Expiration date is required</small>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between gap-2 mb-3">
                        <div class="col-12 col-md-6 mb-2 mb-md-4 form-floating">
                            <input type="text" min="0" formControlName="rate" class="form-control" placeholder="Rate"
                                aria-label="Rate">
                            <label for="floatingTextarea2">Rate</label>
                            <div
                                *ngIf="isEditParamData.get('rate')!.invalid && (isEditParamData.get('rate')!.dirty || isEditParamData.get('rate')!.touched)">
                                <small class="text-danger">Rate is required</small>
                            </div>
                        </div>
                        <div class="col-sm-6 form-floating" style="position: relative;">
                            <!-- Input field for currency selection -->
                            <input type="text" class="form-control" placeholder="Currency" formControlName="currency"
                                (input)="onCurrencyInput($event)" (focus)="showCurrencyDropdown = true"
                                (blur)="hideCurrencyDropdown()" />

                            <label for="floatingTextarea2">--Select Currency--</label>

                            <!-- Dropdown menu that appears under the input -->
                            <div *ngIf="showCurrencyDropdown && filteredCurrencies.length > 0"
                                class="dropdown-menu show"
                                style="position: absolute; top: 80%; left: 0; width: 100%; z-index: 1000;">

                                <ul class="list-group">
                                    <li *ngFor="let currency of filteredCurrencies" class="list-group-item"
                                        (mousedown)="selectCurrency(currency.code)">
                                        {{ currency.code }} - {{ currency.name }}
                                    </li>
                                </ul>
                            </div>

                            <!-- "Not found" message when no currencies match the input -->
                            <div *ngIf="filteredCurrencies.length === 0 && showCurrencyDropdown && currencyInputValue.length >= 1"
                                class="dropdown-menu show"
                                style="position: absolute; top: 80%; left: 0; width: 100%; z-index: 1000;">
                                <button type="button" class="dropdown-item" disabled>Not found</button>
                            </div>

                            <!-- Validation message -->
                            <div
                                *ngIf="isEditParamData.get('currency')!.invalid && (isEditParamData.get('currency')!.dirty || isEditParamData.get('currency')!.touched)">
                                <small class="text-danger">Currency is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-end gap-2 mb-3">
                        <div class="d-flex align-items-center justify-content-between col-12 gap-2 col-md-6">
                            <div class="col-sm-6 form-floating">
                                <select class="form-select" formControlName="freightType" placeholder="Equipment"
                                    aria-label="Default select example">
                                    <option selected disabled>--Select Equipment--</option>
                                    <option [value]="data.type" *ngFor="let data of equipmentsList">{{data.type}}
                                    </option>
                                </select>
                                <label for="floatingTextarea2">Equipment</label>

                                <div
                                    *ngIf="isEditParamData.get('freightType')!.invalid && (isEditParamData.get('freightType')!.dirty || isEditParamData.get('freightType')!.touched)">
                                    <small class="text-danger">Equipment is required</small>
                                </div>
                            </div>

                            <div class="col-sm-5 form-floating">
                                <input type="number" min="0" formControlName="transitTime" class="form-control"
                                    placeholder="Transit Days" aria-label="Transit time">
                                <label for="floatingTextarea2">Transit Days</label>
                                <div
                                    *ngIf="isEditParamData.get('transitTime')!.invalid && (isEditParamData.get('transitTime')!.dirty || isEditParamData.get('transitTime')!.touched)">
                                    <small class="text-danger">Transit Days is required</small>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between align-items-end col-12 col-md-6">
                            <div class="col-4 form-floating">
                                <input type="number" min="1" formControlName="free_days" class="form-control"
                                    placeholder="Free Days" aria-label="Free Days">
                                <label for="floatingTextarea2">Free Days</label>
                                <div
                                    *ngIf="isEditParamData.get('free_days')!.invalid && (isEditParamData.get('free_days')!.dirty || isEditParamData.get('free_days')!.touched)">
                                    <small class="text-danger">Free Days is required</small>
                                </div>
                            </div>
                            <div class="col-7">
                                <!-- formControlName="free_days_comments" -->
                                <textarea class="form-control gap-2" formControlName='free_days_comment'
                                    placeholder="Additional Comment" style="height: 80px"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <textarea class="form-control gap-2 mb-3" formControlName="remarks" placeholder="Remarks (Optional)"
                        style="height: 100px"></textarea>
                </div>
                <div>
                    <textarea class="form-control gap-2 mb-3" formControlName="terms_condition" name="terms_condition"
                        placeholder="Terms and Conditions from forwarder" style="height: 100px"></textarea>
                </div>

            </form>
        </div>
        <div class="modal-button-wrapper">
            <!-- <button (click)="updatingFormHandler()" class="cms_button"
                [ngClass]="{ 'disabled': isEditParamData.invalid }" [disabled]="isEditParamData.invalid">Update</button> -->
            <button (click)="updatingFormHandler()" class="cms_button">Update</button>
        </div>
        <!-- <ng-content></ng-content> -->
    </div>
</div>