<!-- line-160 --- style="background-image: url('../../assets/ship.jpg'); background-repeat: no-repeat;background-size:cover; height:80.5vh;" -->

<div class="tabs cus_container">
  <div class="tab" [class.active]="selectedTab === 'FCL'" (click)="selectTab('FCL')">FCL</div>
  <div class="tab" [class.active]="selectedTab === 'LCL'" (click)="selectTab('LCL')">LCL</div>
  <div class="tab" [class.active]="selectedTab === 'AIR'" (click)="selectTab('AIR')">AIR</div>
</div>


<div class="cs-tabs-wrapper">
  <div style="position: relative; height: 100%;">
    <!-- <div class="overlay"></div> -->
    <div class="tabCaseUI">
      <div class="tab-content">
        <div *ngIf="selectedTab === 'FCL'">

          <div class="container">
            <form [formGroup]="findBestRoute" action="" enctype="multipart/form-data">

              <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mb-2 mb-md-5 form-floating">
                  <select class="form-select border" [(ngModel)]="source" formControlName="source" name="source"
                    id="floatingInput"
                    [ngClass]="{'custom-invalid-border': findBestRoute.get('source')!.invalid && (findBestRoute.get('source')!.dirty || findBestRoute.get('source')!.touched)}">
                    <option selected disabled>--Select source--</option>
                    <option *ngFor="let source of sourceList" [value]="source.id">{{source.name | uppercase}}</option>
                  </select>
                  <label [ngClass]="{'custom-invalid-text-color':findBestRoute.get('source')!.invalid && 
                  (findBestRoute.get('source')!.dirty || findBestRoute.get('source')!.touched)}" class="mx-2"
                    for="floatingInput">Origin Port</label>

                  <div class="position-absolute" *ngIf="findBestRoute.get('source')!.invalid && 
                               (findBestRoute.get('source')!.dirty || findBestRoute.get('source')!.touched)">
                    <small class="text-danger">Origin port is required</small>
                  </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 mb-2 mb-md-5 form-floating">
                  <select [(ngModel)]="destination" id="floatingInput" formControlName="destination"
                    class="form-select border" name="destination"
                    [ngClass]="{'custom-invalid-border': findBestRoute.get('destination')!.invalid && (findBestRoute.get('destination')!.dirty || findBestRoute.get('destination')!.touched)}">
                    <option selected disabled>--Select destination--</option>
                    <option *ngFor="let destination of destinationList" value={{destination.id}}>{{destination.name |
                      uppercase}}
                    </option>
                  </select>
                  <label [ngClass]="{'custom-invalid-text-color':findBestRoute.get('destination')!.invalid && 
                  (findBestRoute.get('destination')!.dirty || findBestRoute.get('destination')!.touched)}" class="mx-2"
                    for="floatingInput">Destination Port</label>

                  <div class="position-absolute" *ngIf="findBestRoute.get('destination')!.invalid && 
                  (findBestRoute.get('destination')!.dirty || findBestRoute.get('destination')!.touched)">
                    <small class="text-danger">Destination port is required</small>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-2 mb-md-5 form-floating">
                  <input class="form-control border" [(ngModel)]="shipment_Date" name="shipment_Date"
                    formControlName="shipment_Date" id="floatingInput" type="date" min={{todayDate}}
                    placeholder="Date of shipping" />
                  <label class="mx-2" for="floatingInput">Date of Loading</label>
                  <!-- <div *ngIf="findBestRoute.get('shipment_Date')!.invalid && 
                  (findBestRoute.get('shipment_Date')!.dirty || findBestRoute.get('shipment_Date')!.touched)">
                    <small class="text-danger">Data of Loading is required</small>
                  </div> -->
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-2 mb-md-5 form-floating position-relative">
                  <select [(ngModel)]="equipments" id="floatingInput" formControlName="equipments" name="equipments"
                    class="form-control border">
                    <option value="" selected disabled>--Select load types--</option>
                    <option [value]="data.id" *ngFor="let data of equipmentsList">{{data.type}}</option>
                  </select>
                  <span class="cs-float" data-bs-toggle="modal" title="Add Equipments"
                    data-bs-target="#addEquipmentModal"><i class="bi bi-plus-lg"></i>
                  </span>
                  <label class="mx-2" for="floatingInput">Equipment</label>
                  <!-- <div *ngIf="findBestRoute.get('equipments')!.invalid && 
                  (findBestRoute.get('equipments')!.dirty || findBestRoute.get('equipments')!.touched)">
                    <small class="text-danger">Equipments is required</small>
                  </div> -->
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mb-2 mb-md-4 form-floating">
                  <input type="number" [(ngModel)]="weight" formControlName="weight" class="form-control border"
                    name="weight" id="floatingInput" placeholder="Container weight" />
                  <label class="mx-2" for="floatingInput">Cargo weight (In metric
                    ton)</label>
                  <!-- <div *ngIf="findBestRoute.get('weight')!.invalid && 
                  (findBestRoute.get('weight')!.dirty || findBestRoute.get('weight')!.touched)">
                    <small class="text-danger">Weight is required</small>
                  </div> -->
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-2 mb-md-4 form-floating">
                  <input type="number" [(ngModel)]="quantity" formControlName="quantity" class="form-control border"
                    name="quantity" id="floatingInput" placeholder="No. of quantity" />
                  <label class="mx-2" for="floatingInput">No. of containers</label>
                  <!-- <div *ngIf="findBestRoute.get('quantity')!.invalid && 
                  (findBestRoute.get('quantity')!.dirty || findBestRoute.get('quantity')!.touched)">
                    <small class="text-danger">Quantity is required</small>
                  </div> -->
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-2 mb-md-4 form-floating">
                  <select [(ngModel)]="commodity" formControlName="commodity" id="floatingInput" name="commodity"
                    class="form-control border">
                    <option value="" selected disabled>--Select commodity--</option>
                    <option [value]="data.name" *ngFor="let data of comodityList">{{data.name}}</option>
                  </select>
                  <span class="cs-float" data-bs-toggle="modal" title="add commodity" data-bs-target="#exampleModal"><i
                      class="bi bi-plus-lg"></i>
                  </span>
                  <label class="mx-2" for="floatingInput">Commodity</label>
                  <!-- <div *ngIf="findBestRoute.get('commodity')!.invalid && 
                  (findBestRoute.get('commodity')!.dirty || findBestRoute.get('commodity')!.touched)">
                    <small class="text-danger">Commodity is required</small>
                  </div> -->
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-2 mb-md-4 form-floating position-relative">
                  <select [(ngModel)]="incoterms" formControlName="incoterms" id="floatingInput" name="incoterms"
                    class="form-select border">
                    <!-- [ngClass]="{'custom-invalid-border': findBestRoute.get('incoterms')!.invalid && (findBestRoute.get('incoterms')!.dirty || findBestRoute.get('incoterms')!.touched)}"-->
                    <option value="" selected disabled>--Select incoterms--</option>
                    <option value="FCA">FCA (Free Carrier)</option>
                    <option value="EXW">EXW (Ex Works)</option>
                    <option value="CPT">CPT (Carriage Paid To)</option>
                    <option value="CIP">CIP (Carriage and Insurance Paid To)</option>
                    <option value="DAP">DAP (Delivered at Place)</option>
                    <option value="DPU">DPU (Delivered at Place Unloaded)</option>
                    <option value="DDP">DDP (Delivered Duty Paid)</option>
                    <option value="FAS">FAS (Free Alongside Ship)</option>
                    <option value="FOB">FOB (Free on Board)</option>
                    <option value="CFR">CFR (Cost and Freight)</option>
                    <option value="CIF">CIF (Cost, Insurance, and Freight)</option>
                    <!-- <option [value]="data.rule" *ngFor="let data of incotermsList">{{data.rule}}</option> -->
                  </select>
                  <label class="mx-2" for="floatingInput">Incoterms</label>

                  <!-- <span class="cs-float" data-bs-toggle="modal" title="add incoterms" data-bs-target="#exampleModal1"><i
                      class="bi bi-plus-lg"></i>
                  </span> -->

                  <!-- <div *ngIf="findBestRoute.get('incoterms')!.invalid && 
                  (findBestRoute.get('incoterms')!.dirty || findBestRoute.get('incoterms')!.touched)">
                    <small class="text-danger">Incoterms is required</small>
                  </div> -->
                </div>

              </div>
            </form>

            <div class="d-grid justify-content-end">
              <!-- IN BUTTON (  routerLink="/shipmentAggregate" ) -->
              <!-- || !equipments || !shipment_Date || !weight || !incoterms || !commodity || !quantity -->
              <button type="button" class="my-4 btn find-rate-button" [disabled]=" !source || !destination"
                (click)="findBestRates()">Find
                Best
                Rates &nbsp;<i class="fa fa-ship" aria-hidden="true"></i></button>
              <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i></button> -->
            </div>


            <!-- QUICK RESULT UI -->

            <div class="col-sm-12 d-flex justify-content-center align-items-center" style="text-align: center;"
              *ngIf="this.isLoading">
              <!-- <h4>Loading...</h4> Loading message -->
              <div class="d-flex gap-3 align-items-center">
                <div class="loader"></div><span><small> Finding...</small></span>
              </div>
            </div>

            <div class="col-sm-12 cs-error" style="text-align: center;"
              *ngIf="!this.isLoading && this.shipdata.length === 0 && dataChecked">
              <h4>Data not found for selected route and freight type</h4> <!-- No data message -->
            </div>


            <div class="quick-wrapper" *ngIf="this.shipdata.length > 0">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column justify-content-between">
                  <h5> Quick Quotes</h5>
                  <small class="" style="color:#878787">{{shipdata.length}} result found</small>
                </div>
                <button type="button" (click)="bulkGenerateQuote()" [disabled]="bulkQuotationGeneration.length <= 0"
                  data-bs-toggle="modal" data-bs-target="#choose_customer" class="my-4 btn find-rate-button"
                  [ngStyle]="{'visibility':bulkQuotationGeneration.length <= 0 ? 'hidden': 'visible'}">Bulk
                  Quotation</button>
              </div>
              <div class="row d-flex my-4">
                <div class="col-3 filter"> <!-- *ngIf="this.shipdata.length>0" -->
                  <div class="filter-sm">
                    <img src="../../assets/filter.png" alt="" height="20px" width="25px"
                      style="float: left; margin: 13px;">
                    <label for="" class="my-2" style="margin: auto;font-weight: bold;font-size: 15px;">filter</label>
                    <label for="" class="mx-4 my-2"
                      style="float: right; color: rgb(113, 141, 194);font-weight: bold;">Clear All</label>
                  </div>
                </div>
                <div class="col-9 px-3 py-2 cs-right-bg-color cs-height cs-hidden-scroll">
                  <div class="row d-flex justify-content-between gap-1 mb-2" *ngFor="let data of shipdata">
                    <input type="checkbox" [value]="data.id" class="cs-checkbox col-1"
                      (change)="toggleBulkQuotation($event, data)" />
                    <div class="col-2 p-1 bg-white">
                      <div class="d-flex flex-column justify-content-between align-items-center h-100">
                        <small class="cs-font-rate">Rate ID P 184936538 T& C</small>
                        <div class="d-flex flex-column gap-1 cs-font-middle">
                          <span>{{data.company_name}}</span>
                          <span>CY/ CY AL7</span>
                          <small>{{data.spot_filed | uppercase}} RATE</small>
                        </div>
                        <small class="cs-font-rate">
                          <!-- <i class="fa fa-shield" aria-hidden="true"></i> -->
                          <svg xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 -960 960 960" width="15px"
                            fill="green">
                            <path
                              d="m438-339 220-221-51-51-169 170-85-85-51 51 136 136Zm42 243q-135-33-223.5-152.84Q168-368.69 168-515v-229l312-120 312 120v229q0 146.31-88.5 266.16Q615-129 480-96Zm0-75q104-32.25 172-129t68-215v-180l-240-92-240 92v180q0 118.25 68 215t172 129Zm0-308Z" />
                          </svg>
                          Guaranteed Price & Loading</small>
                      </div>
                    </div>
                    <div class="col-7 d-flex flex-column gap-1 flex-grow-1 bg-white justify-content-between">
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <p class="fw-bold">{{data.source_name}}</p>
                        </div>
                        <div>
                          <p class="fw-bold">{{data.company_name}}</p>
                        </div>
                        <div>
                          <p class="fw-bold">{{data.destination_name}}</p>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-column">
                          <!-- saling date -->
                          <label class="cs-font-middle my-1">Saling Date</label>
                          <label class="cs-font-middle my-1 fw-bold">{{shipment_Date}}</label>
                        </div>
                        <div class="d-flex flex-column">
                          <!-- trasit time -->
                          <label class="cs-font-middle my-1">Transit Time</label>
                          <!-- <label class="cs-font-middle my-1 fw-bold">{{formatToFixed(data.transit_time)}}
                            Days</label> -->
                          <label class="cs-font-middle my-1 fw-bold">{{formatToFixed(data.transit_time)}}
                            Days</label>
                        </div>
                        <!-- <span class="cs-font-rate">Free Days</span> -->
                        <div class="d-flex flex-column">
                          <label class="cs-font-middle my-1">Free Days</label>
                          <!-- <label class="cs-font-middle my-1 fw-bold">{{data.version?.free_days}}
                            Days</label> -->
                          <label class="cs-font-middle my-1 fw-bold">{{formatToFixed(data.free_days)}}
                            Days</label>
                        </div>
                        <div class="d-flex flex-column">
                          <!-- forward -->
                          <label class="cs-font-middle my-1">Rates by Forwarder</label>
                          <label class="cs-font-middle my-1 fw-bold">XYZ forwarder</label>
                        </div>
                      </div>

                    </div>
                    <div class="col-2 p-1 bg-white">
                      <div class="d-flex justify-content-between flex-column align-items-center h-100">
                        <div class="d-flex justify-content-between gap-1">
                          <div class="">
                            <span class="cs-font-rate cs-text-color">Freight Cost</span>
                            <!-- <label class="fw-bold cs-font-rate">{{data.version?.currency}}
                              {{formatToFixed(data.rate)}}</label> -->
                            <label class="fw-bold cs-font-rate">{{data.currency}}
                              {{formatToFixed(data.rate)}}</label>
                          </div>
                          <div>
                            <span class="cs-font-rate cs-text-color">Total cost</span>
                            <label class="fw-bold cs-font-rate">INR 320 </label>
                          </div>
                        </div>
                        <!-- <button (click)="generateQuote(data.id, data.version?.unique_uuid)" data-bs-toggle="modal"
                          *ngIf="currentDate < data.expiration_date" data-bs-target="#choose_customer" type="button"
                          class="btn find-rate-button cs-font-middle my-1">Create Quote</button> -->

                        <!-- <button (click)="generateQuote(data.id, data.unique_uuid)" data-bs-toggle="modal"
                          *ngIf="currentDate <= data.expiration_date" data-bs-target="#choose_customer" type="button"
                          class="btn find-rate-button cs-font-middle my-1">Create Quote</button> -->

                        <button (click)="generateQuote(data.id, data.unique_uuid)" data-bs-toggle="modal"
                          *ngIf="currentDate > data.expiration_date" data-bs-target="#choose_customer" type="button"
                          class="btn find-rate-button cs-font-middle my-1">Create Quote</button>


                        <!-- If currentDate is greater than or equal to expiration_date, show "This is expired" -->
                        <div *ngIf="currentDate > data.expiration_date" class="expiredDate">
                          <marquee behavior="scroll" direction="" style="color: white;"> Rate is expired</marquee>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="selectedTab === 'LCL'">
          <!-- Content for Page 2 -->
          <p>This is content for Page 2.</p>
        </div>
        <div *ngIf="selectedTab === 'AIR'">
          <!-- Content for Page 3 -->
          <p>This is content for Page 3.</p>
        </div>
      </div>

    </div>
  </div>

  <!-- ADD EQUIPMENT MODAL -->
  <div class="modal fade" id="addEquipmentModal" tabindex="-1" aria-labelledby="exampleAddEquipmentModalModalLabel"
    data-bs-whatever="@getbootstrap" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleAddEquipmentModalModalLabel">Add New Equipments</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addEquipmentsFormData">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">New Equipments:</label>
              <input style="border: 2px solid rgb(97, 95, 95);" type="text" placeholder="Enter Equipments"
                class="form-control" formControlName="equipmentName" id="recipient-name">
              <!-- Validation messages -->
              <div *ngIf="addEquipmentsFormData.get('equipmentName')!.invalid && (addEquipmentsFormData.get('equipmentName')!.dirty || 
                  addEquipmentsFormData.get('equipmentName')!.touched)">
                <small class="text-danger">Equipment name is required</small>
              </div>
              <small class="text-danger" *ngIf="serverResposeMessage !=='' ">{{serverResposeMessage}}</small>

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" [attr.data-bs-dismiss]="modalStatus ? 'modal' : null"
            (click)="submitEquipments()">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- COMMODITY MODAL -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    data-bs-whatever="@getbootstrap" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Commodity</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="commodityFormData">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">New Commodity:</label>
              <input style="border: 2px solid rgb(97, 95, 95);" type="text" placeholder="Enter Commodity"
                class="form-control" formControlName="name" id="recipient-name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss=modal
            (click)="submitCommodity()">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- INCOTERNS MODAL -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel1">Add New Incoterms</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="incotermsFormData">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">New Incoterms:</label>
              <input style="border: 2px solid rgb(97, 95, 95);" type="text" placeholder="Enter Incoterms"
                class="form-control" formControlName="rule" id="recipient-name">
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss=modal
            (click)="submitIncoterms()">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- CHOOSE CUSTOMER MODAL -->
  <div class="modal fade" id="choose_customer" tabindex="-1" aria-labelledby="choose_customer_lable" aria-hidden="false"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="choose_customer_lable">Customer</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formData">
            <div class="form-floating mb-3 position-relative">
              <input type="text" formControlName="customerName" name="customerName" class="form-control border"
                placeholder="Choose customer name" aria-label="Choose customer name" (input)="onInput($event)"
                (focus)="showDropdown = true" (blur)="hideDropdown()" (click)="showDropdown = true">
              <label for="floatingTextarea2">Choose Customer</label>

              <div *ngIf="showDropdown && filteredCustomer.length > 0" class="dropdown-menu show"
                (mousedown)="$event.preventDefault()"
                style="position: absolute; top: 100%; left: 0; width: 100%; z-index: 1000;">
                <button type="button" class="dropdown-item" *ngFor="let customer of filteredCustomer"
                  (click)="selectCustomer(customer)">
                  {{ customer.cust_name }}
                </button>
              </div>

              <div *ngIf="filteredCustomer.length === 0 && showDropdown && customerInputValue.length >= 2"
                class="dropdown-menu show">
                <button type="button" class="dropdown-item" disabled>Not found</button>
              </div>

              <div *ngIf="formData.get('customerName')!.invalid && 
                                   (formData.get('customerName')!.dirty || formData.get('customerName')!.touched)">
                <small class="text-danger">Required customer</small>
              </div>
              <span class="cs-float" data-bs-toggle="modal" title="add customer" data-bs-target="#add_customer_modal"><i
                  class="bi bi-plus-lg"></i>
              </span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="submitCustomer(isRateFrozenIdx)" type="button" class="btn btn-primary"
            data-bs-dismiss="modal" [disabled]="!selectedCustomerData">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ADD CUSTOMER MODAL -->
  <div class="modal fade" id="add_customer_modal" tabindex="-1" aria-labelledby="add_customer_lable" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog custom">
      <div class="modal-content">
        <div class="modal-header">
          <div class="d-flex gap-4">
            <h1 (click)="addCustomerModeActive()" class="modal-title fs-5 pe-auto" id="add_customer_lable">Add Customer
            </h1>
            <button (click)="editModeActive()" type="button" class="btn btn-sm btn-info text-white"
              id="edit_customer_lable">Edit Customer</button>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div *ngIf="!editModeStatus">
          <div class="modal-body">
            <form [formGroup]="addCustomerFormData">
              <div class="col-md mb-2">
                <div class="form-floating">
                  <input type="text" (blur)="hideDropdown()" formControlName="companyName" class="form-control border"
                    id="floatingInputGrid" placeholder="Company name" value="companyName">
                  <label for="floatingInputGrid">Company's name</label>
                </div>
                <div
                  *ngIf="addCustomerFormData.get('companyName')!.invalid && 
                                             (addCustomerFormData.get('companyName')!.dirty || addCustomerFormData.get('companyName')!.touched)">
                  <small class="text-danger">Company name is required</small>
                </div>
              </div>

              <div class="row g-2">
                <div class="col-md">
                  <div class="form-floating">
                    <input type="text" (blur)="hideDropdown()" formControlName="customerName"
                      class="form-control border" id="floatingInputGrid" placeholder="Customer name"
                      value="customerName">
                    <label for="floatingInputGrid">Customer's name</label>
                  </div>
                  <div
                    *ngIf="addCustomerFormData.get('customerName')!.invalid && 
                                               (addCustomerFormData.get('customerName')!.dirty || addCustomerFormData.get('customerName')!.touched)">
                    <small class="text-danger">Customer name is required</small>
                  </div>
                </div>
                <div class="col-md" style="position: relative;">
                  <!-- Customer Emails (comma-separated) -->
                  <div class="form-floating mb-3 position-relative">
                    <input type="text" placeholder="Enter email" class="form-control border" #emailInput>
                    <label for="customerEmail">Customer Emails</label>
                    <div *ngIf="isEmailRequired()">
                      <small *ngIf="addCustomerFormData.get('customerEmail')!.errors?.['required']"
                        class="text-danger">Email is required</small>
                    </div>
                    <i class="fa fa-plus cs-addVia" (click)="addEmail(emailInput)" height="22px" width="22px"
                      aria-hidden="true"></i>
                    <small class="text-danger">{{ emailError }}</small>
                  </div>
                </div>


                <!-- <div class="col-md">
                  <div class="form-floating">
                    <input type="email" (blur)="hideDropdown()" formControlName="customerEmail"
                      class="form-control border" id="floatingInputGrid" placeholder="johnmalik@gmail.com" value="">
                    <label for="floatingInputGrid">Customer's email</label>
                  </div>
                  <div
                    *ngIf="addCustomerFormData.get('customerEmail')!.invalid && (addCustomerFormData.get('customerEmail')!.dirty || addCustomerFormData.get('customerEmail')!.touched)">
                    <small *ngIf="addCustomerFormData.get('customerEmail')!.errors?.['required']"
                      class="text-danger">Email is required</small>
                    <small *ngIf="addCustomerFormData.get('customerEmail')!.errors?.['email']" class="text-danger">Please
                      enter a valid email address</small>
                  </div>
                </div> -->
              </div>
              <!-- Email List Display -->
              <div *ngIf="emailList.length > 0" class="mb-2">
                <h6 class="m-0" style="font-size: 12px;">Email List:</h6>
                <div class="d-flex gap-1 flex-wrap">
                  <div *ngFor="let email of emailList" class="d-inline-block">
                    <span class="badge bg-primary">
                      {{ email }} <span class="ms-2 cursor-pointer text-danger" (click)="removeEmail(email)">x</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row g-2 mb-2">
                <!-- <div class="form-group col-md d-flex align-items-center">
                  <div class="col-md-3 border">
                    <select id="countryCode" (change)="updateCountryCode($event)" class="form-select">
                      <option *ngFor="let code of countryCodeList" [value]="code.code">
                        {{ code.code }}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-9">
                    <div class="form-floating">
                      <input type="text" (blur)="hideDropdown()" formControlName="customerPhone"
                        class="form-control border" id="floatingInputGrid" placeholder="e.g., +919856241254" />
                      <label for="floatingInputGrid">Customer's phone</label>
                    </div>
                    <div
                      *ngIf="addCustomerFormData.get('customerPhone')!.invalid && 
                              (addCustomerFormData.get('customerPhone')!.dirty || addCustomerFormData.get('customerPhone')!.touched)">
                      <small *ngIf="addCustomerFormData.get('customerPhone')!.errors?.['required']"
                        class="text-danger">Customer phone is required</small>
                      <small *ngIf="addCustomerFormData.get('customerPhone')!.errors?.['pattern']"
                        class="text-danger">Please enter a valid phone number with country code (e.g., +91XXXXXXXXX,
                        +001XXXXXXXXX)</small>
                    </div>
                  </div>
                </div> -->

                <div class="col-md">
                  <div class="form-floating">
                    <input type="text" (blur)="hideDropdown()" formControlName="customerPhone"
                      class="form-control border" id="floatingInputGrid" placeholder="e.g., +919856241254" />
                    <label for="floatingInputGrid">Customer's phone</label>
                  </div>
                  <div
                    *ngIf="addCustomerFormData.get('customerPhone')!.invalid && 
                            (addCustomerFormData.get('customerPhone')!.dirty || addCustomerFormData.get('customerPhone')!.touched)">
                    <small *ngIf="addCustomerFormData.get('customerPhone')!.errors?.['required']"
                      class="text-danger">Customer phone is required</small>
                    <small *ngIf="addCustomerFormData.get('customerPhone')!.errors?.['pattern']"
                      class="text-danger">Please enter a valid phone number with country code (e.g. +91XXXXXXXXX ,
                      +001XXXXXXXXX)</small>
                  </div>
                </div>

                <div class="col-md">
                  <div class="form-floating">
                    <textarea class="form-control" formControlName="saleRepresent" placeholder="Sales representative"
                      id="floatingTextarea"></textarea>
                    <label for="floatingInputGrid">Sales representative</label>
                  </div>
                  <div
                    *ngIf="addCustomerFormData.get('saleRepresent')!.invalid && 
                                               (addCustomerFormData.get('saleRepresent')!.dirty || addCustomerFormData.get('saleRepresent')!.touched)">
                    <small class="text-danger">Customer's sales representative is required</small>
                  </div>
                </div>
              </div>
              <div class="col-md input-group mb-2">
                <div class="form-floating input-group">
                  <input type="text" aria-describedby="basic-addon2" class="form-control border"
                    formControlName="percentageMargin" placeholder="percentageMargin" id="floatingTextarea" />
                  <label for="floatingInputGrid">Percentage Margin</label>
                  <span class="input-group-text" id="basic-addon2">%</span>
                </div>
                <!-- <div
                  *ngIf="addCustomerFormData.get('saleRepresent')!.invalid && 
                                             (addCustomerFormData.get('saleRepresent')!.dirty || addCustomerFormData.get('saleRepresent')!.touched)">
                  <small class="text-danger">Customer's sales representative is required</small>
                </div> -->
              </div>
              <!-- <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="percentageMargin"
                  aria-label="percentageMargin" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">%</span>
              </div> -->

              <div class="row g-2 mb-2">
                <div class="col-md">
                  <div class="form-floating">
                    <textarea class="form-control" formControlName="terms_condition"
                      placeholder="Customer term & condition" style="height: 120px" id="floatingTextarea"></textarea>
                    <label for="floatingInputGrid">Customer's Terms & Conditions</label>
                  </div>
                  <div
                    *ngIf="addCustomerFormData.get('terms_condition')!.invalid && 
                                               (addCustomerFormData.get('terms_condition')!.dirty || addCustomerFormData.get('terms_condition')!.touched)">
                    <small class="text-danger">Customer's Terms & Conditions are required</small>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button (click)="addCustomerData()" type="button" class="btn btn-primary" data-bs-dismiss="modal"
              [disabled]="addCustomerFormData.invalid || emailList.length === 0">
              Submit
            </button>

            <!-- <button (click)="addCustomerData()" type="button" class="btn btn-primary"
              [attr.data-bs-dismiss]="modalAddCustomerStatus ? 'modal' : null">Submit</button> -->
          </div>
        </div>

        <!-- EDIT MODE -->
        <div class="p-3" style="height: 45vh;" *ngIf="editModeStatus">
          <form [formGroup]="isEditCustomerData">
            <div class="form-floating">
              <select class="form-select border" (change)="getCustomerById($event)" formControlName="edit_customer" name="edit_customer" id="floatingInput"
                [ngClass]="{'custom-invalid-border': isEditCustomerData.get('edit_customer')!.invalid && (isEditCustomerData.get('edit_customer')!.dirty || isEditCustomerData.get('edit_customer')!.touched)}">
                <option selected disabled>--Select customer--</option>
                <option *ngFor="let customer of customerLists" [value]="customer.id">{{customer.cust_name}}</option>
              </select>
              <label [ngClass]="{'custom-invalid-text-color': isEditCustomerData.get('edit_customer')!.invalid && 
            (isEditCustomerData.get('edit_customer')!.dirty || isEditCustomerData.get('edit_customer')!.touched)}"
                class="mx-2" for="floatingInput">Choose Customer For Edit</label>
            </div>

            <div class="col-md my-2">
              <div class="form-floating d-flex border rounded">
                <input type="text" class="form-control"
                  formControlName="percentage" placeholder="percentageMargin" id="floatingInputGrid" />
                <label for="floatingInputGrid">Percentage Margin</label>
                <span class="input-group-text border-0" id="basic-addon2">%</span>
              </div>
            </div>
          </form>
          <div class="modal-footer" >
            <button (click)="updateCustomerPercentageMarginById(customerUpdatingId)" type="button" class="btn btn-warning">
            UPDATE
          </button>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <!-- QUOTATION PAGE MODAL -->
  <app-quotation-page [formData]="isQuotaData" [isQuotaVisible]="isQuotaModalVisible"
    (visibilityChange)="handleQuotaVisibilityChange($event)">
  </app-quotation-page>


</div>