@import url(https://fonts.googleapis.com/css?family=Sansita+One);

/* CUT FROM HERE */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

a,
li {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;

}

a {
  color: rgb(7, 7, 7);
  text-decoration: none;
}

li {
  list-style-type: none;
}

nav {
  //   width: 140px;
  height: 450px;
  float: left;
  position: relative;
  background: #f1eded;
  margin: 0 auto;
  padding: 10px 0px;
  color: rgb(17, 17, 17);
  line-height: 40px;
  border-radius: 5px;
  box-shadow: -6px 5px 3px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 250px;
  overflow: scroll;
  overflow-x: hidden;
}

ol,
ul {
  padding-left: unset;
}

nav ul li {
  position: relative;
  padding: 0 20px;
  background: rgb(219, 206, 209);
}

nav ul li:hover {
  background: crimson;
  border-left: 5px solid #B31131;

}

nav ul li:hover:before {
  content: '';
  border-color: transparent #EEE transparent transparent;
  right: 0;
  border-width: 10px;
  position: absolute;
  border-style: solid;
  top: 5px;
}

/* TO HERE */

// .is-invalid {
//   border: 1px solid red;
// }

.cs-rate_types {
  display: flex;
  justify-content: flex-start;
  gap: 20px;

  .form-check-label {
    margin-left: 8px;
  }
}

.cs-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.active:before {
  content: '';
  border-color: transparent #EEE transparent transparent;
  right: 0;
  border-width: 10px;
  position: absolute;
  border-style: solid;
  top: 5px;
}



//table
.custom-table-container {
  overflow-x: auto;
  height: 270px;
  border: 1px solid #1d1c1c36;
  /* Optional: Add a border around the table container */
  box-shadow: -6px 5px 3px 0px rgba(0, 0, 0, 0.5);
}

.custom-table-container_manual {
  overflow-x: auto;
  height: 270px;
  // border: 0px solid #1d1c1c36;
  /* Optional: Add a border around the table container */
  box-shadow: -3px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.custom-table {
  width: 100%;
  /* Ensure the table fills the container width */
  border-collapse: collapse;
}

.custom-table thead {
  background-color: rgb(38, 104, 202);
  color: white;
  overflow: visible;
  position: sticky;
}

.custom-table th,
.custom-table td {
  padding: 5px;
  text-align: center;
}

.table-header {
  position: sticky;
  top: 0;
  background-color: #6570fd;
  /* Optional: Specify a background color */
  z-index: 100;
  /* Optional: Ensure it stays above content */
  text-align: center;
}

// .table-header > th{
//   text-align: center !important;
// }

.custom-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
  /* Alternate row background color */
}

.custom-table tbody tr:hover {
  background-color: #e0e0e0;
  /* Hover row background color */
}



//upload file


.file {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file>input[type='file'] {
  display: none
}

// .file>label {
//   font-size: 1rem;
//   font-weight: 1px;
//   cursor: pointer;
//   outline: 0;
//   user-select: none;
//   border-color: hsl(203, 90%, 37%);
//   border-style: solid;
//   border-radius: 10px;
//   border-width: 1px;
//   background-color: hsl(236, 89%, 56%);
//   color: hsl(0, 0%, 100%);
//   padding-left: 15px;
//   padding-right: 15px;
//   padding-top: 8px;
//   padding-bottom: 8px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .file>label:hover {
//   border-color: hsl(0, 0%, 21%);
// }

// .file>label:active {
//   background-color: hsl(203, 90%, 37%);
// }

// .file>label>i {
//   padding-right: 5px;
// }

// .file--upload>label {
//   color: hsl(0, 0%, 100%);
//   border-color: hsl(204, 86%, 53%);
// }

// .file--upload>label:hover {
//   border-color: hsl(204, 86%, 53%);
//   background-color: hsl(203, 90%, 37%);
// }

// .file--upload>label:active {
//   background-color: hsl(203, 90%, 37%);
// }






//spinner
.spinnerMain {
  background: linear-gradient(222deg, rgba(18, 18, 18, 1) 0%, rgba(93, 50, 43, 1) 50%, rgba(44, 47, 66, 1) 100%);
  font-family: 'Arial';
  text-align: center;
}

.icon {
  position: relative;
  left: 40vw;
  width: 0;
  top: 30vh;
  text-align: center;
  cursor: pointer;
}

.bar {
  position: absolute;
  transform: translate(-50%, -50%);
  align-items: center;
  top: -10px;
  background-color: #f98866;
  width: 20px;
  height: 20px;
  margin: 5px 0;
  border-radius: 10px;
  transition: 0.3s;
  animation: loading 1.5s ease-in-out 0s infinite;
}

.bar:nth-child(1) {
  animation-delay: 0s;
}

.bar:nth-child(2) {
  animation-delay: 0.15s;
}

.bar:nth-child(3) {
  animation-delay: 0.3s;
}

.bar:nth-child(4) {
  animation-delay: 0.45s;
}

@keyframes loading {
  0% {
    height: 20px;
  }

  50% {
    height: 60px;
  }

  100% {
    height: 20px;
  }
}

// .tableNameLabel:hover {

//   color: #3440eb;
// }

.main_label {

  text-shadow: 1px 0px rgb(51, 46, 46);
  font-weight: bold;
}


.dropdown-box {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;

}

.text-sm {
  font-size: 11px;
  color: red
}

.shipping-line {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 82vh;
}

//  ===================================== CUSTOM STYLE ================================= \\
.cms_moo_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cms_rate_inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.cms_button {
  border: none;
  padding: 5px 8px;
  background-color: 22338f;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
}

.cms_manual_action {
  display: flex;
  // gap:2px;
  align-items: center;
  justify-content: space-between;
}

.cms_manual_edit,
.cms_manual_delete {
  padding: 2px 6px;
  background-color: blue !important;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: rgb(12, 12, 201) !important;
  }

}

.cms_manual_delete {
  background-color: red !important;

  &:hover {
    background-color: rgb(208, 9, 9) !important;
  }

}

.text_bold {
  font-weight: 500;
}

// ////////////////////////////////////////////////////////////////////////////////////////////

.cus_container {
  background-color: #ffffff;
}

.tabCaseUI {
  z-index: 9;
  position: relative;
}

.tabs {
  display: flex;
  padding: 0 12px;
  margin: 28px auto 14px;
  gap: 20px;
}

.tab {
  padding: 1px 5px;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: none;
}

.tab.active {
  border-bottom: 4px solid #f4c3c0;
  font-weight: 500;
}

.tab-content {
  padding: 20px 0px;
}

.cs-tabs-wrapper {
  background-color: #ffffff;
}


// ////////////////////////////// FORM ////////////////////////////////////////////////
// .modal {
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: 100%;
//   background-color: rgb(0, 0, 0);
//   background-color: rgba(0, 0, 0, 0.4);
// }

// .modal.show {
//   display: flex;
//   overflow: hidden;
// }

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 65%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-heading-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 15px;
}

.modal-inner-content {
  padding: 10px 20px;
  height: 60vh;
  overflow: auto;
}

// .cms_button {
//   border: none;
//   padding: 5px 8px;
//   background-color: rgba(0, 128, 0, 0.619);
//   color: #ffffff;
//   border-radius: 5px;
//   font-weight: 500;

//   &:hover {
//     background-color: green;
//   }
// }

// .cms_button.disabled {
//   cursor: not-allowed;
//   background-color: rgb(165, 238, 165);

//   &:hover {
//     background-color: rgb(165, 238, 165);
//   }

// }

.modal-button-wrapper {
  display: flex;
  justify-content: end;
  padding: 10px 20px;

}
.cms_button {
  border: none;
  background-color: #22338f;
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    background-color: #22338f;
    color: #ffffff;
    font-weight: 500;
  }

}

.cms_button.disabled {
  cursor: not-allowed;
  background-color: #22338f;
  opacity: 0.8;
  // background-color: #bbfff2;
}

.cms_button:not(.disabled):hover {
  background-color: #142cb6;
  color: #ffffff;
}



.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  display: block;
  background-color: white;
  max-height: 25vh;
  overflow-y: auto;
}

.custom-scroll {
  height: 60vh;
  // overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 10px 10px 0px;
}

.form-switch {
  padding-left: 0.5em !important;
}

.form-switch .form-check-input {
  margin: 0 !important;
  width: 4em !important;
  height: 1.5em !important;

}

.cs_deleteModal p {
  margin: 0;
  padding: 5px 10px;
  background: #ff000021;
  color: #e50b0b;
  font-weight: 500;
  border-radius: 5px;
}


.cs-table-wrapper {
  max-height: 50vh;
  overflow: auto;
  margin: 0 15px;
}


/* Styling for the dropdown menu */
.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}
