/* You can add global styles to this file, and also import other style files */
html {
    overflow-x: hidden;
}

//whole-bg-color:#ededed
// header-menu-color:#cccccc
// heder-menu-active-color: #494949
// find-rate-button-bg-color:#bbfff2

.layout-wrapper {
    background-color: #ededed;
    height: 100%;
}

.navbar-bg-color {
    background-color: #ffffff;
}

.cs-text-color {
    color: #cccccc
}

.cs-hidden-scroll {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.cs-hidden-scroll::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.find-rate-button {
    background-color: #22338f;
    font-weight: 500;
    color:#ffffff;
  
    &:hover {
      background-color: #142cb6;
      color: #ffffff;
      font-weight: 500;
    }
  }

  .form-check-input:checked{
    background-color: #142cb6;
    border-color: #142cb6;

  }
  .form-select:focus, .form-control:focus{
    // box-shadow: 0 0 0 .25rem #dc354668 !important;
    // border-color: #dc354668 !important
    box-shadow: 0 0 0 .25rem #142cb665 !important;
    border-color: #142cb665 !important
  }
  .cs-container-label{
    font-size:14px
  }
  


//   *******************************************  LOADING EFFECT ***********************
